fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
minio
qdrant-client==1.18.0
requests
python-multipart
python-jose[cryptography]
pypdf
python-docx
reportlab==4.2.5
jinja2
weasyprint
openai
pymupdf
pytesseract
pillow